/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
}

.navbar__brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar__link {
    margin: 10px;
    color: #fff;
    text-decoration: none; 
    transition: color 0.3s;
}

/* forms */
form {
    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#efefef;
    border:0;
    padding:6px 10px;
    font-size:14px;
}
input[type=submit], a.button {
    font-weight:bold;
    background:#12c064;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}

/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

.login-form {
    float:left;
}

/* images */

.image-preview, .image-detail {
    max-width:300px;
    float:left;
    margin:0 20px 20px 0;
}
.image-detail { margin-top:20px; }
.image-info div {
    padding:20px 0;
    overflow:auto;
}
.count {
    color:#aaa;
    border:3px solid #bbb;
    border-radius:26px;
    padding:10px 20px;
    margin:20px 10px 0;
}
a.like, a.follow { float:right; margin-top:-8px; }

#image-list { overflow:hidden; }
#image-list .image {
    float:left;
    width:220px;
    height:300px;
    margin:0 10px 10px 10px;
    border-top:8px solid #12c064;
    background:#eee;
}
#image-list img { width:220px; height:220px; }
#image-list .info { padding:10px; }
#image-list .info a { color:#333; }
.image-likes div {
    float:left;
    width:auto;
    padding:10px;
    text-align:center;
}
.image-likes img {
    width:120px;
    height:120px;
    border-radius:50%;
}


/* Tour list styles */
.tour-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.tour-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}


.tour-card a {
    text-decoration: none;
    color: rgb(107, 107, 107);
}

.tour-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tour-details {
    padding: 10px;
}

.tour-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
}

.tour-duration,
.tour-dates,
.tour-price,
.tour-availability,
.tour-capacity {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.tour-true {
    color: rgb(42, 227, 42);
}

.tour-false {
    color: rgb(241, 38, 38);
}

/* Style for the tour detail container */
.tour-detail {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

/* Style for the tour image */
.tour-image-detail {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tour-image-detail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style for the tour title */
.tour-title-detail {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* Style for the tour description */
.tour-description {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

/* Style for the tour duration, dates, price, and capacity */
.tour-info p {
    font-size: 16px;
    color: #777;
    margin-top: 5px;
}
